* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito;
  color: #fff;
}

body {
  background-image: url('../src/images/ef6624a337124e07a128813de66d0efe.jpg');
}
.container {
  width: 80%;
  margin: auto;
}
.App {
  height: 100vh;
  width: 100%;
}
.title {
  padding: 20px 10px;
  color: #fff;
}
.weather-temp {
  padding: 0 0 0 60px;
}
.weather-temp h1,
.weather-temp h4,
.weather-temp p {
  text-align: center;
  display: block;
  padding: 0px 10px 0 20px;
}

.weather-info p,
.weather-info h2 {
  text-align: center;
  color: greenyellow;
  padding: 0;
}
.user-weather {
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: 5px 10px 5px 5px rgb(28, 3, 59);
}
.navbar {
  background-color: #ddd;
}

.mainImg {
  padding: 0 0 10px 0;
}

.region {
  margin-top: 30px;
  padding-left: 0;
}

.regioninput {
  background: none;
  border: none;
  padding: 0 10px 10px 40px;
  outline: none;
}

.regioninput::placeholder {
  font-family: Nunito;
  font-weight: 600;
  font-size: 1rem;
  padding-left: 0;
}
.error {
  color: red;
  background-color: black;
}
.time {
  display: block;
  padding-left: 50px;
}
